In [82]:
import urllib.request as url
import bs4
import pandas as pd

In [2]:
page = url.urlopen("http://stats.espncricinfo.com/ci/engine/records/team/largest_margins.html?class=2;id=6;type=team")

In [4]:
# lxml - library xml
soup = bs4.BeautifulSoup(page, 'lxml')

In [6]:
tables = soup.find_all('table', class_ = "engineTable")

In [53]:
# for data in tables:
#     print(data.text)

data = []
for d in tables:
    data.append(d.text)

In [54]:
# print(data[0])
data_1 = data[0].replace("\n","\t")

In [55]:
data_1 = data_1.replace("\t\t","\t")

In [56]:
data_1 = data_1.replace("\t\t\t","\t")

In [57]:
data_1 = data_1.replace("\t\t","\t")

In [58]:
data_1 = data_1.replace("\t", ",")

In [66]:
data_1 = data_1.split("India")

In [70]:
df = []
for i in data_1:
    df.append([i])

In [79]:
dataset = []
for i in range(len(df)):
    dataset.append(df[i][0].split(","))

In [81]:
# print(dataset)

[['', 'By runs', 'Winner', 'Margin', 'Target', 'Opposition', 'Ground', 'Match Date', 'Scorecard', ''], ['', '257 runs', '414', 'v Bermuda', 'Port of Spain', '19 Mar 2007', 'ODI # 2542', ''], ['', '256 runs', '375', 'v Hong Kong', 'Karachi', '25 Jun 2008', 'ODI # 2716', ''], ['', '200 runs', '277', 'v Bangladesh', 'Dhaka', '11 Apr 2003', 'ODI # 2001', ''], ['', '190 runs', '270', 'v New Zealand', 'Visakhapatnam', '29 Oct 2016', 'ODI # 3800', ''], ['', '186 runs', '352', 'v Kenya', 'Paarl', '24 Oct 2001', 'ODI # 1764', ''], ['', '183 runs', '293', 'v Sri Lanka', 'Johannesburg', '10 Mar 2003', 'ODI # 1985', ''], ['', '181 runs', '312', 'v Namibia', 'Pietermaritzburg', '23 Feb 2003', 'ODI # 1964', ''], ['', '174 runs', '377', 'v New Zealand', 'Hyderabad (Deccan)', '8 Nov 1999', 'ODI # 1523', ''], ['', '169 runs', '364', 'v Sri Lanka', 'Cuttack', '2 Nov 2014', 'ODI # 3539', ''], ['', '168 runs', '376', 'v Sri Lanka', 'Colombo (RPS)', '31 Aug 2017', 'ODI # 3908', ''], ['', '161 runs', '227', 'v Zimbabwe', 'Harare', '29 Aug 2005', 'ODI # 2274', ''], ['', '160 runs', '342', 'v West Indies', 'Vadodara', '31 Jan 2007', 'ODI # 2493', ''], ['', '158 runs', '388', 'v England', 'Rajkot', '14 Nov 2008', 'ODI # 2774', ''], ['', '157 runs', '374', 'v Sri Lanka', 'Taunton', '26 May 1999', 'ODI # 1463', ''], ['', '153 runs', '308', 'v South Africa', 'Dhaka', '13 Apr 2003', 'ODI # 2002', ''], ['', '153 runs', '402', 'v South Africa', 'Gwalior', '24 Feb 2010', 'ODI # 2962', ''], ['', '153 runs', '419', 'v West Indies', 'Indore', '8 Dec 2011', 'ODI # 3223', ''], ['', '153 runs', '405', 'v Sri Lanka', 'Kolkata', '13 Nov 2014', 'ODI # 3544', ''], ['', '152 runs', '351', 'v Sri Lanka', 'Nagpur', '25 Oct 2005', 'ODI # 2286', ''], ['', '147 runs', '364', 'v Sri Lanka', 'Colombo (RPS)', '3 Feb 2009', 'ODI # 2813', ''], ['', '145 runs', '354', 'v New Zealand', 'Hyderabad (Deccan)', '15 Nov 2003', 'ODI # 2062', ''], ['', '141 runs', '393', 'v Sri Lanka', 'Mohali', '13 Dec 2017', 'ODI # 3941', ''], ['', '140 runs', '331', 'v Pakistan', 'Dhaka', '10 Jun 2008', 'ODI # 2705', ''], ['', '133 runs', '295', 'v England', 'Cardiff', '27 Aug 2014', 'ODI # 3517', ''], ['', '130 runs', '308', 'v South Africa', 'Melbourne', '22 Feb 2015', 'ODI # 3610', ''], ['', '127 runs', '286', 'v England', 'Kochi', '15 Jan 2013', 'ODI # 3320', ''], ['', '126 runs', '301', 'v England', 'Hyderabad (Deccan)', '14 Oct 2011', 'ODI # 3199', ''], ['', '124 runs', '289', 'v Pakistan', 'Birmingham', '4 Jun 2017', 'ODI # 3878', ''], ['', '124 runs', '304', 'v South Africa', 'Cape Town', '7 Feb 2018', 'ODI # 3971', '']]

In [83]:
df = pd.DataFrame(dataset)

In [85]:
df.columns = dataset[0]

In [87]:
df.drop(0)

,,By runs,Winner,Margin,Target,Opposition,Ground,Match Date,Scorecard,
1,,257 runs,414,v Bermuda,Port of Spain,19 Mar 2007,ODI # 2542,,None,None
2,,256 runs,375,v Hong Kong,Karachi,25 Jun 2008,ODI # 2716,,None,None
3,,200 runs,277,v Bangladesh,Dhaka,11 Apr 2003,ODI # 2001,,None,None
4,,190 runs,270,v New Zealand,Visakhapatnam,29 Oct 2016,ODI # 3800,,None,None
5,,186 runs,352,v Kenya,Paarl,24 Oct 2001,ODI # 1764,,None,None
6,,183 runs,293,v Sri Lanka,Johannesburg,10 Mar 2003,ODI # 1985,,None,None
7,,181 runs,312,v Namibia,Pietermaritzburg,23 Feb 2003,ODI # 1964,,None,None
8,,174 runs,377,v New Zealand,Hyderabad (Deccan),8 Nov 1999,ODI # 1523,,None,None
9,,169 runs,364,v Sri Lanka,Cuttack,2 Nov 2014,ODI # 3539,,None,None
10,,168 runs,376,v Sri Lanka,Colombo (RPS),31 Aug 2017,ODI # 3908,,None,None
11,,161 runs,227,v Zimbabwe,Harare,29 Aug 2005,ODI # 2274,,None,None
12,,160 runs,342,v West Indies,Vadodara,31 Jan 2007,ODI # 2493,,None,None
13,,158 runs,388,v England,Rajkot,14 Nov 2008,ODI # 2774,,None,None
14,,157 runs,374,v Sri Lanka,Taunton,26 May 1999,ODI # 1463,,None,None
15,,153 runs,308,v South Africa,Dhaka,13 Apr 2003,ODI # 2002,,None,None
16,,153 runs,402,v South Africa,Gwalior,24 Feb 2010,ODI # 2962,,None,None
17,,153 runs,419,v West Indies,Indore,8 Dec 2011,ODI # 3223,,None,None
18,,153 runs,405,v Sri Lanka,Kolkata,13 Nov 2014,ODI # 3544,,None,None
19,,152 runs,351,v Sri Lanka,Nagpur,25 Oct 2005,ODI # 2286,,None,None
20,,147 runs,364,v Sri Lanka,Colombo (RPS),3 Feb 2009,ODI # 2813,,None,None
21,,145 runs,354,v New Zealand,Hyderabad (Deccan),15 Nov 2003,ODI # 2062,,None,None
22,,141 runs,393,v Sri Lanka,Mohali,13 Dec 2017,ODI # 3941,,None,None
23,,140 runs,331,v Pakistan,Dhaka,10 Jun 2008,ODI # 2705,,None,None
24,,133 runs,295,v England,Cardiff,27 Aug 2014,ODI # 3517,,None,None
25,,130 runs,308,v South Africa,Melbourne,22 Feb 2015,ODI # 3610,,None,None
26,,127 runs,286,v England,Kochi,15 Jan 2013,ODI # 3320,,None,None
27,,126 runs,301,v England,Hyderabad (Deccan),14 Oct 2011,ODI # 3199,,None,None
28,,124 runs,289,v Pakistan,Birmingham,4 Jun 2017,ODI # 3878,,None,None
29,,124 runs,304,v South Africa,Cape Town,7 Feb 2018,ODI # 3971,,None,None