In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('student.csv')

In [3]:
data.head()

   Math  Reading  Writing
0    48       68       63
1    62       81       72
2    79       80       78
3    76       83       79
4    59       64       62

In [5]:
x1 = data['Math'].values
x2 = data['Reading'].values
y = data['Writing'].values

In [20]:
# y = b0 + b1x1 + b2x2
# y = b0x0 + b1x1 + b2x2
# x0 = 1
n = len(y)
b = np.zeros(3)
x0 = np.ones(n)
x = np.array([x0,x1,x2]).T
alpha = 0.01
epoch = 1000

In [21]:
x

array([[  1.,  48.,  68.],
       [  1.,  62.,  81.],
       [  1.,  79.,  80.],
       ...,
       [  1.,  89.,  87.],
       [  1.,  83.,  82.],
       [  1.,  66.,  66.]])

In [22]:
def cost_function(x,y,b):
    j = np.sum((np.dot(x,b) - y)**2) / n
    return j

In [23]:
cost_function(x,y,b)

4940.2200000000003

In [ ]:
def gradient_descent(epochs, x, y, b):
    
    for epoch in range(epochs):
        pass